html, body {
			height: 100%;
			width: 100%;
		}
		.cookie {
			overflow: hidden;
			position: absolute;
			z-index: 2;
			left: 225px;
			top: 330px;
			width: 65px;
		}
		.leftCookie {
			position: absolute;
			top: 390px;
			z-index: 2;
		}
		.rightCookie {
			position: absolute;
			top: 390px;
			z-index: 2;
		}
		.cookiePile {
			overflow: hidden;
			position: absolute;
			left: 140px;
			z-index: 3;
			top: 285px;
			width: 50px;
		}
		.bucketBottom {
			position:absolute;
			bottom: 135px;
			z-index: 3;
			width: 275px;
		}
		.bucketTop {
			position:absolute;
			z-index: 1;
			bottom: 262px;
			width: 275px;
		}
		.right {
			left: 525px;
		}
		.left {
			left: 58px;
		}
		.slide {
			display: none;
		}
		#instructions {
  			text-align: center;
  			left: 30%;
		}
		.plate {
			position:absolute;
			z-index: 1;
			width: 250px;
			top: 330px;
		}
		#plateLeft {
			left: 58px;
		}
		#plateRight {
			left: 525px;
		}
		