html, body {
			height: 100%;
			width: 100%;
		}
		.cookie {
			overflow: hidden;
			position: absolute;
			left: 42%;
			z-index: 2;
			top: 45%;
			width: 75px;
		}
		.leftCookie {
			position: absolute;
			left: 11%;
			bottom: 23%;
			z-index: 2;
		}
		.rightCookie {
			position: absolute;
			right: 11%;
			bottom: 23%;
			z-index: 2;
		}
		#cookies {
			overflow: hidden;
			position: absolute;
			left: 35%;
			z-index: 3;
			bottom: 50px;
			width: 350px;
		}
		.bucket {
			position:absolute;
			bottom: 100px;
			z-index: 3
		}
		.bucketTop {
			position:absolute;
			z-index: 1;
			bottom: 322px;
		}
		#rightTop {
			right: 5%;
		}
		#leftTop {
			left: 5%;
		}
		#rightB {
			right: 5%;
		}
		#leftB {
			left: 5%;
		}
		.slide {
			display: none;
			/*position: absolute;*/
		}
		#instructions {
  			text-align: center;
  			left: 30%;
		}
		.plate {
			position:absolute;
			z-index: 1;
			width: 250px;
			bottom: 180px;
		}
		#plateLeft {
			left: 5%;
		}
		#plateRight {
			right: 5%;
		}
		